*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

html,
body {
  width: 100%;
  max-width: 1440px;
}

html {
  font-size: 20px;
}

body {
  height: 1024px;
  padding: 80px 0 49px;
  background: #ffffff;
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  justify-content: center;
}
